@{
    ViewData["Title"] = "后台管理系统";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>- @ViewData["Title"] -</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- 子页插入到head的入口。相当于母版页里的ContentPlaceHolder -->
    @RenderSection("header", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("应用程序名称", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse  navbar-right">
                <ul class="nav navbar-nav ">
                    <li>@Html.ActionLink("用户管理", "Index", "User")</li>
                    <li>@Html.ActionLink("产品管理", "Index", "Product")</li>
                    <li>@Html.ActionLink("订单管理", "Index", "Record")</li>
                    <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/js")
    <!-- 子页插入到页面底部的入口。相当于母版页里的ContentPlaceHolder -->
    @RenderSection("scripts", required: false)
</body>
</html>
